*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    background: #f0f;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.card{
    width: 40rem;
    height: 40rem;
    background: #f8f;
    border-radius: 5rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
}

.card--stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.timertext{
    font-size: 200%;
}

.button{
    padding: 1rem 2rem;
    font-size: 2rem;
    color: white;
    border-radius: 10rem;
}

.button--start{
    background: #00ff00;
}

.button--stop{
    background: #ff0000;
}

.button--reset{
    background: #0000ff;
}



